body {
 background: #000;
 }
.container {
    background: #000;
    height: 200px;
    border: 2ps solid rgb(247, 16, 16);
    padding-top: 20px;
}
img {
    max-width: 100%;
    height: auto;
    
  }
.galeria{
   
    width: auto;         /*--------written by image size--------*/
    height: 600px;        /*--------written by image size--------*/
     overflow: hidden;
     
}
.foto {
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/*------------defines the animation of each image-----------*/
@keyframes animacao {
    25%{opacity: 1;
        transform: scale (1.1, 1.1);
    }
    50%{
        opacity: 0;
    }
}

/*------------ abrir child (1) set the temp of each image-----------*/
.foto:nth-child(1) {

}                              
.foto:nth-child(2) {
    animation-delay: 5s;
}
.foto:nth-child(3) {
    animation-delay: 10s;
}
.foto:nth-child(4) {
    animation-delay: 15s;
}